@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&family=Rock+Salt&family=Shadows+Into+Light&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root{
    --font-1: "Oswald",sans-serif;
    --font-2: "Shadows Into Light",sans-serif;
    --font-3: "Rock Salt", serif;
    --font-4: "Bebas Neue", serif;

    --cor-1: #000000;
    --cor-2: #303841;
    --cor-3: #BBBFCA;
    --cor-4: #EEEEEE;
    --cor-5: #FFFFFF;
    --cor-6: #6272a4;
}

::selection {
    color :     #FFFFFF;
    background: #232526;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Loader */
/* LOADER */
.overlay{
    background-color: rgb(27, 31, 35);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.img-wrapper canvas{
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.banner{
    width: 80vw;
    position: absolute;
    top: 25%;
    left: 15%;
}

.banner h1{
    color: var(--cor-1);
    font-family: var(--font-2);
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    color: var(--cor-1);
    font-family: var(--font-3);
    font-size: 1.5rem;
    letter-spacing: .3rem; 
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    color: var(--cor-2);
    font-family: var(--font-4);
    font-size: 1.0rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: transparent;
    border-color: #FFFFFF;
    border: .1rem solid;
    padding: 1rem 3rem;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 2s 0.9s forwards;
    transition: color .5s;
}

.banner button:hover{
    color: var(--cor-6);
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.social-media{
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.social-media i{
    color: var(--cor-2);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
}

.social-media i:hover{
    color: var(--cor-6);
}

/* Icon Mouse */
.mouse{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 3rem;
    border: .1rem solid var(--cor-2);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wheel{
    width: .5rem;
    height: .8rem;
    border-radius: 30%;
    background-color: var(--cor-2);
    margin-bottom: 1rem;
    animation: moveUpDown 1s infinite;
}


.fone{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 3rem;
    border: .1rem solid var(--cor-2);
    border-radius:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.page{
    width: 1rem;
    height: .3rem;
    border-radius: 5%;
    border: .1rem solid var(--cor-2);
    background-color: var(--cor-2);
    margin-top: 1px;
    animation: moveUpDown 1s infinite;
}


@keyframes moveUpDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-.3rem);
    }
    100%{
        transform: translateY(0);
    }
}



/* Header to section */
.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h1{
    color: var(--cor-1);
    font-family: var(--font-4);
    border-bottom: solid 3px var(--cor-1);
    text-transform: uppercase;
    font-size: 4.4rem;
    margin: 5rem 0rem;
    line-height: 3.7rem;
}