@media only screen and (max-width: 950px){
  
  .banner h1{
    font-size: 3rem;
  }

  .banner p{
    font-size: 1rem;
  }

  .obout {
      flex-direction: column;
  }

  .obout-body{
      width: 80vw;
      margin-left: 0px;
      margin-top: 40px;
  }

  .my-img{
      margin-top: 2rem;
  }

  .input-group input{
    padding: 0em 0.5em 0em 0.5em;
    width: 80vw;
  }
  .btn-submit{
    width: 40vw;
  }

  .contact-body p{
    width: 80vw;
  }

  footer{
    height: 13rem;
  }

  .footer-content{
    align-items: center;
  }

  .footer-content p{
    width: 40vw;
  }

  .social-list a{
    display: table-header-group;
    width: 2.5rem;
    height: 1rem;
    font-size: 1.5rem;
    padding: 0.7rem;
  }
}


@media only screen and (max-width: 620px){

  html{
    overflow-x: hidden;
    max-width: 100%;
  }

  .banner p{
    width: 70vw;
  }

  .banner button{
    display: none !important;
  }

  .input-group input{
    padding: 0em 0.5em 0em 0.5em;
    width: 90vw;
  }

  .btn-submit{
    width: 45vw;
    padding: .7rem 1rem;
  }
}
