@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    /* --font-primary: "Baloo Da 2", serif; */
    --font-primary: "Oswald",sans-serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;

    --cor-primary: #6e6e6e;
    --cor-secundary: #FFFFFF;
    --cor-tertiary: #222326;
    
}

::selection {
    color : #FFFFFF;
    background: #232526;
}

html{
    scroll-behavior: smooth;
}


/* ICONE MENU LATERAL */
.hamburguer{
    width: 1.7rem;
    height: 2.4rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1.3s;
    z-index: 998;
}

.line{
    background-color: var(--cor-primary);
    width: 100%;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px rgb(36, 36, 36);
    transition: transform 1.8s;
}

.show-menu .hamburguer{
    right: 16rem;
}

.show-menu #line2{
    transform: translate(-.3rem)
}

.hamburguer span{
    background-color: var(--cor-secundary);
    color: var(--cor-tertiary);
    font-family: var(--font-action);
    position: absolute;
    left: 3rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid var(--cor-secundary);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    transition-delay: 0.6s;
    opacity: 1;
}
/* FIM ICONE MENU LATERAL */


/* SESSÂO HOME */
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 25%;
    left: 15%;
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    font-style: normal;
    font-family: var(--font-primary);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    text-transform: uppercase;
}

.banner p{
    color: white;
    font-size: 2rem;
    font-family: var(--font-secundary);
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    color: var(--cor-primary);
    font-size: 1.0rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: var(--font-action);
    background-color: transparent;
    border-color: #FFFFFF;
    border: .1rem solid;
    padding: 1rem 3rem;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
    transition: color 0.5s;
}

.banner button:hover{
    color: var(--cor-secundary);
    /* background: -webkit-linear-gradient(to right, #414345a2, #232526a2);  
    background: linear-gradient(to right, #414345a2, #232526a2); */

}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
/* FIM SESSÂO HOME */


/* BARRA LATERAL */
.sidebar{
    background-color: rgba(27, 31, 35, 0.95);
    width: 20rem;
    height: 100vh;
    
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 990;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin: 1.5rem;
}

.menu-link{
    color: var(--cor-primary);
    font-family: var(--font-action);
    font-size: 2.2rem;
    font-weight: 300;
    transition: color 0.4s;
}

.menu-link:hover{
    color: var(--cor-secundary);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.social-media i{
    color: var(--cor-primary);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    padding: 0.25rem;
}

.social-media i:hover{
    color: var(--cor-secundary);
}
/* FIM BARRA LATERAL */


/* TITULOS DAS SESSÃO  */
.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    color: var(--cor-tertiary);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: solid 3px var(--cor-secundary);
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 3.7rem;
}
/* FIM TITULOS DAS SESSÃO */


/* SESSÃO SOBRE */
.sessao-about{
    width: 100%;
    background-color: #EEEEEE;
    padding-bottom: 7rem;
}

.obout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-img img{
    height: 230px;
    width: 230px;
    image-rendering: optimizeQuality;
    border-radius: 1%;
    object-fit: cover;
}

.obout-body{
    width: 35vw;
    margin-left: 40px;
}

.obout-body h1{
    color: var(--cor-tertiary);
    font-family: var(--font-primary);
    text-align: justify;
}

.obout-body p{
    color: var(--cor-tertiary);
    font-family: var(--font-primary);
    text-align: justify;
}

#p2{
    margin-top: 1.5rem;
    text-align: justify;
    text-align-last: initial;
}

#p3{
    text-align-last: end;
}


/* FIM SESSÃO SOBRE */


/* SESSÂO CONTATO */
.sessao-contact{
    width: 100%;
    padding-bottom: 7rem;
}

.contact-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group{
    position: relative;
    width: 50vw;
    
}

.input-group input{
    width: 100%;
}

.field{
    background: transparent;
    font-family: var(--font-action);
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.3rem;
    min-height: 40px;
    border: 1px solid #ccc;
    text-rendering: optimizeLegibility;
    outline: none;
    font-size: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field-label{
    position: absolute;
    left: 0;
    top: 0;
    font-family: var(--font-action);
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    text-transform: uppercase;
}

.btn-submit{
    width: 50.1vw;
    color: var(--cor-secundary);
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: var(--font-action);
    background-color: var(--cor-tertiary);
    border: 1px solid var(--cor-tertiary);
    padding: .7rem 3rem;
    cursor: pointer;
    transition: color 0.5s;
    margin-bottom: 2rem;
}

.btn-submit:hover{
    background-color: var(--cor-primary);
    border: 1px solid var(--cor-primary);
}

.contact-body p{
    width: 50vw;
    font-family: var(--font-primary);
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}
/* FIM SESSÂO CONTATO */


/* RODAPÉ  */
footer{
    width: 100%;
    height: 8rem;
    background-color: var(--cor-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.footer-content p{
    color: var(--cor-secundary);
    font-family: var(--font-primary);
    letter-spacing: .04rem;
    font-size: .9rem;
}

.social-list a{
    color: var(--cor-primary);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flexbox;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    padding: 0.6rem;
}

.social-list a:hover{
    color: var(--cor-secundary);
}
/* FIM RODAPÉ */


/* LOADER */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--cor-tertiary);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 950px){

    .obout {
        flex-direction: column;
    }

    .obout-body{
        width: 80vw;
        margin-left: 0px;
        margin-top: 40px;
    }

    .my-img{
        margin-top: 2rem;
    }

    .input-group{
        width: 80vw;
    }

    .btn-submit{
        width: 80.2vw;
    }

    .contact-body p{
        width: 80vw;
    }

    footer{
        height: 13rem;
    }

    .footer-content{
        align-items: center;
    }

    .footer-content p{
        width: 35vw;
    }

    .social-list a{
        display: flex;
        width: 2.5rem;
        height: 1rem;
        font-size: 1.5rem;
        padding: 0.7rem;
    }
}


@media only screen and (max-width: 620px){

    html{
        overflow-x: hidden;
        max-width: 100%;
    }

    .banner p{
        width: 70vw;
    }

    .banner button{
      display: none !important;
    }

    .input-group{
        width: 90vw;
    }

    .btn-submit{
        width: 90.2vw;
    }
}
